.navbar {
  width: 100%;
  height: 65px;
  background: linear-gradient(90deg, #374151, #4b5563);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  color: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-left {
  font-size: 22px;
  font-weight: 700;
}

.nav-right {
  display: flex;
  gap: 12px;
}

.nav-btn {
  padding: 7px 14px;
  background: #4b5563;
  border-radius: 10px;
  border: none;
  color: white;
  transition: 0.25s ease;
  cursor: pointer;
}

.nav-btn:hover {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  transform: scale(1.05);
}

.logout-btn {
  padding: 7px 14px;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  border: none;
  font-weight: 700;
  color: white;
  transition: 0.25s ease;
}

.logout-btn:hover {
  transform: scale(1.08);
}
