/* Background */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f1f5f9, #ffffff, #ffecd2);
}

/* Glass Card */
.auth-card {
  width: 380px;
  padding: 32px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);
  text-align: center;
}

/* Titles */
.auth-title {
  font-size: 26px;
  font-weight: 800;
  color: #ff7e5f;
}
.form-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* Inputs */
.auth-input {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 10px;
  border: 2px solid #cbd5e1;
  transition: 0.3s;
}

.auth-input:focus {
  border-color: #ff7e5f;
  box-shadow: 0px 0px 8px #ff7e5f88;
  outline: none;
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s ease;
}

.auth-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

/* Switch text */
.switch-text {
  margin-top: 15px;
  color: #475569;
}

.link {
  color: #ff7e5f;
  cursor: pointer;
  font-weight: bold;
}
